body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

table {
    table-layout: fixed;
    width: calc(100px * 26); /* 26 for 26 letters */
}

table, tr, td, th {
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-collapse: collapse;
}

td, th {
    min-width: 5vw;
    min-height: 1vh;
}

th {
    background-color: lightgray;
    border-right-color: black;
    border-bottom-color: black;
}

.cell-selected {
    border-color: blue;
    border-width: 3px;
}