body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}

table {
    /* table-layout: fixed; */
    width: calc(100px * 27); 
    /* 26 for 26 letters */
    /* width: 100%; */
}

table, tr, td, th {
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-collapse: collapse;
}

td, th {
    min-width: 5vw;
    min-height: 1vh;
    position: relative;
}

th {
    background-color: lightgray;
    border-right-color: black;
    border-bottom-color: black;
}

.cell-selected {
    border-color: blue;
    border-width: 3px;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    height: 100%;
}