body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
    background-color: lightgrey;
}

table {
    /* width: calc(100px * 27);  */
    border-bottom: 1px solid black;
}

table, tr, td, th {
    border: 1px solid lightgray;
    box-sizing: border-box;
    border-collapse: collapse;
    background-color: white;
}

td, th {
    max-width: 100px;
    min-height: 1vh;
    position: relative;
    overflow: hidden;

    white-space: nowrap;
}

th {
    background-color: lightgray;
    border-right-color: black;
    border-bottom-color: black;
}

.cell-selected {
    border-color: blue;
    border-width: 3px;
}

.noselect {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+/Edge */
}

.resizer {
    position: absolute;
    right: 0;
    top: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
    height: 100%;
}

#vline {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: black;
    pointer-events: none;
    z-index: 9999;
    display: none;
}